#content{
    height: 1000px;
    margin-top: 50px;
}

#menu-btn{
}

#nav-list a {
  text-align: center;
}

#nav-list hr {
    margin: 0;
}

.panel {
    padding: 20px;
}

@media (min-width: 768px) {
    #nav-list {
        display: none;
    }
}